{% extends "base.html" %}
{% load static %}

{% block title %}<title>Chidera Divine-Gift : Portfolio</title>{% endblock title %}

{% block portfolio %}active{% endblock portfolio %}

{% block content %}
    <main id="main">
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">
    
                <div class="section-title">
                    <h2>Portfolio</h2>
                    <p>Explore a collection of my work, showcasing diverse projects in data science, machine learning, python and web development. From predictive models and data-driven insights to fully functional Django web applications, each project highlights my dedication to problem-solving and innovation.</p>
                </div>                
        
                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-datasci">Data Science</li>
                            <li data-filter=".filter-django">Django</li>
                            <li data-filter=".filter-python">Python</li>
                        </ul>
                    </div>
                </div>
        
                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-django">
                        <div class="portfolio-wrap">
                            <img src={% static "img/S2.png" %} class="img-fluid" alt="" style="width: 500px; height: 400px">
                            <div class="portfolio-info">
                                <h4>Estate Management Application</h4>
                                <p>Django</p>
                                <div class="portfolio-links">
                                    <a href={% url "estate-manage" %} title="More Details"><i class="bx bx-plus"></i></a>
                                    <a href="https://github.com/ChideraDG/Estate-Management" title="Estate Github Link" target="_blank"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6 portfolio-item filter-python">
                        <div class="portfolio-wrap">
                            <img src={% static "img/B1.png" %} class="img-fluid" alt="" style="width: 500px; height: 400px">
                            <div class="portfolio-info">
                                <h4>Console Banking System</h4>
                                <p>Python</p>
                                <div class="portfolio-links">
                                    <a href={% url "banking" %} title="More Details"><i class="bx bx-plus"></i></a>
                                    <a href="https://github.com/ChideraDG/Console-Banking-System" title="Banking Github Link" target="_blank"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-python">
                        <div class="portfolio-wrap">
                            <img src={% static "img/C1.png" %} class="img-fluid" alt="" style="width: 500px; height: 400px">
                            <div class="portfolio-info">
                                <h4>Console Mini Calculator</h4>
                                <p>Python</p>
                                <div class="portfolio-links">
                                    <a href={% url "calc" %} title="More Details"><i class="bx bx-plus"></i></a>
                                    <a href="https://github.com/ChideraDG/Mini-Calculator" title="Calculator Github Link" target="_blank"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-python">
                        <div class="portfolio-wrap">
                            <img src={% static "img/T2.png" %} class="img-fluid" alt="" style="width: 500px; height: 400px">
                            <div class="portfolio-info">
                                <h4>Tic-Tac-Toe Console Game</h4>
                                <p>Python</p>
                                <div class="portfolio-links">
                                    <a href={% url "tic" %} title="More Details"><i class="bx bx-plus"></i></a>
                                    <a href="https://github.com/ChideraDG/Tic-Tac-Toe" title="Tic-Tac-Toe Github Link" target="_blank"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Portfolio Section -->
    </main>
{% endblock content %}
