{% extends "base.html" %}

{% block title %}<title>Chidera Divine-Gift : Resume</title>{% endblock title %}

{% block resume %}active{% endblock resume %}

{% block content %}
    <main id="main">
        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Resume</h2>
                    <p>I am a dedicated professional with a significant track record in delivering exceptional results. I possess a keen ability to navigate complex challenges and deliver solutions that drive organizational success. I am known for a commitment to excellence, attention to detail, and the ability to work collaboratively within a team. I am skilled in managing multiple priorities and meeting deadlines while maintaining a focus on quality. I am recognized for strong communication skills and the ability to build productive relationships with clients and colleagues alike.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="resume-title">Summary</h3>
                        <div class="resume-item pb-0">
                            <h4>Ohanenye-Ohiaekpete Chidera Divine-gift</h4>
                            <p>
                                <em>
                                    Aspiring Data Scientist with a strong foundation in traditional data analysis and machine learning. Proven ability to develop and execute data-driven projects from initial concept to final deliverable. Eager to leverage analytical skills and programming knowledge to solve complex problems and contribute to data-driven decision-making.
                                </em>
                            </p>
                            <p>
                                <ul>
                                    <li>No 13 Raji Olorunero Mosafejo, Ojo Alaba, Lagos Nigeria.</li>
                                    <li>+234 70-3332-7493</li>
                                    <li>chidera.ohanenye-ohiaekpete@stu.cu.edu.ng</li>
                                </ul>
                            </p>
                        </div>

                        <h3 class="resume-title">Education</h3>
                        <div class="resume-item">
                            <h4>Bachelor of Science</h4>
                            <h5>2019 - 2023</h5>
                            <p>
                                <em>
                                    Covenant University, Ogun State, Nigeria.
                                </em>
                            </p>
                            <p>Completed a program in Industrial Mathematics. Developed strong quantitative skills and the ability to apply mathematical principles to real-world scenarios, laying a solid foundation for a career in data science and analysis.</p>
                        </div>

                        <div class="resume-item">
                            <h4>West African Examination Council Certificate</h4>
                            <h5>2012 - 2018</h5>
                            <p>
                                <em>
                                    Marist Brothers' Juniorate, Abia State, Nigeria.
                                </em>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h3 class="resume-title">Work Experience</h3>
                        <div class="resume-item">
                            <h4>Intern</h4>
                            <h5>March 2022 - September 2022</h5>
                            <p>
                                <em>
                                    Polaris Bank, Marina Lagos-Island, Nigeria.
                                </em>
                            </p>
                            <p>
                                <ul>
                                    <li>Gained hands-on experience with the Cerpac immigration system and ATM cashing system, enhancing operational efficiency and accuracy.</li>
                                    <li>Developed customer service skills by assisting clients and addressing their inquiries, contributing to a positive banking experience.</li>
                                    <li>Supported the interviewing process by preparing documentation and coordinating candidate interactions, ensuring a smooth recruitment experience.</li>
                                    <li>Participated in debugging system malfunctions, collaborating with the technical team to identify and resolve issues, thereby improving system performance.</li>
                                </ul>
                            </p>
                        </div>
                        <div class="resume-item">
                            <h4>Django/Data-Science Lecturer</h4>
                            <h5>February 2024 - Present</h5>
                            <p>
                                <em>
                                    New Horizons, Festac Lagos, Nigeria.
                                </em>
                            </p>
                            <p>
                                <ul>
                                    <li>Designed and delivered comprehensive curriculum on Django and data science principles, enhancing students' technical skills and knowledge.</li>
                                    <li>Managed multiple projects and classroom activities while simultaneously maintaining a high-quality learning environment.</li>
                                    <li>Provided tailored guidance to students, recommending resources and strategies for mastering programming and data analysis concepts.</li>
                                    <li>Created and presented over 4 instructional materials and proposals monthly for student engagement and curriculum development.</li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h3 class="resume-title">Leadership Experience</h3>
                        <div class="resume-item">
                            <h4>Team Lead</h4>
                            <h5>April 2024 - Present</h5>
                            <p>
                                <em>
                                    Estate Management Application Development [Django]
                                </em>
                            </p>
                            <p>
                                <ul>
                                    <li>Exercised strong time management skills to ensure project milestones were met efficiently and effectively.</li>
                                    <li>Applied analytical organization techniques to streamline processes and enhance team productivity.</li>
                                    <li>Fostered creativity within the team by encouraging innovative problem-solving approaches to project challenges.</li>
                                    <li>Mentored team members on backend and frontend development principles, providing hands-on instruction in Django and project management techniques.</li>
                                    <li>Utilized sound decision-making abilities to guide the team through complex project scenarios, ensuring optimal outcomes.</li>
                                </ul>
                            </p>
                        </div>

                        <div class="resume-item">
                            <h4>Team Lead</h4>
                            <h5>March 2024 - June 2024</h5>
                            <p>
                                <em>
                                    Backend Banking System Development [Python]
                                </em>
                            </p>
                            <p>
                                <ul>
                                    <li>Effectively delegated tasks to team members, ensuring each individual's strengths were leveraged to meet project goals.</li>
                                    <li>Utilized time management strategies to maintain project progress and meet development deadlines without compromising quality.</li>
                                    <li>Promoted innovation within the team by encouraging new ideas for system architecture and optimizing backend processes.</li>
                                    <li>Practiced active listening during team meetings to understand concerns, provide feedback, and make informed decisions.</li>
                                    <li>Fostered collaboration across departments, ensuring smooth integration of backend functionalities with other system components.</li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h3 class="resume-title">Professional Certifications</h3>
                        <div class="resume-item">
                            <h4>Data Science</h4>
                            <h5>March 2024 - August 2024</h5>
                            <p>
                                <em>
                                    New Horizons, Festac Lagos, Nigeria.
                                </em>
                            </p>
                        </div>

                        <div class="resume-item">
                            <h4>Data Analysis</h4>
                            <h5>September 2023 - Feburary 2024</h5>
                            <p>
                                <em>
                                    New Horizons, Festac Lagos, Nigeria.
                                </em>
                            </p>
                        </div>

                        <div class="resume-item">
                            <h4>Python</h4>
                            <h5>September 2023 - March 2024</h5>
                            <p>
                                <em>
                                    New Horizons, Festac Lagos, Nigeria.
                                </em>
                            </p>
                        </div>

                        <div class="resume-item">
                            <h4>Java</h4>
                            <h5>April 2019 - August 2019</h5>
                            <p>
                                <em>
                                    New Horizons, Festac Lagos, Nigeria.
                                </em>
                            </p>
                        </div>

                        <div class="resume-item">
                            <h4>Comptia Security+</h4>
                            <h5>February 2019 - May 2019</h5>
                            <p>
                                <em>
                                    New Horizons, Festac Lagos, Nigeria.
                                </em>
                            </p>
                        </div>

                        <div class="resume-item">
                            <h4>Comptia Network+</h4>
                            <h5>November 2018 - March 2019</h5>
                            <p>
                                <em>
                                    New Horizons, Festac Lagos, Nigeria.
                                </em>
                            </p>
                        </div>

                        <div class="resume-item">
                            <h4>Comptia A+</h4>
                            <h5>August 2018 - October 2018</h5>
                            <p>
                                <em>
                                    New Horizons, Festac Lagos, Nigeria.
                                </em>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h3 class="resume-title">Volunteering Experience</h3>
                        <div class="resume-item">
                            <h4>Welfare Volunteer</h4>
                            <h5>September 2019 - September 2022</h5>
                            <p>
                                <em>
                                    Ije Awele Foundation, Nigeria.
                                </em>
                            </p>
                            <p>
                                <ul>
                                    <li>Volunteered in Community development project on free prostate, breast and cervical cancer screening in local communities.</li>
                                    <li>Responsible for the welfare of volunteers and distribution of refreshments to culminate in the success of the event.</li>
                                </ul>
                            </p>
                        </div>

                        <div class="resume-item">
                            <h4>Photography</h4>
                            <h5>April 2020 - July 2022</h5>
                            <p>
                                <em>
                                    Covenant University, Ogun State, Nigeria.
                                </em>
                            </p>
                            <p>
                                <ul>
                                    <li>Organized and managed photo files post-processing images. Responsible for generating all photography, product, lifestyle, and event photography.</li>
                                    <li>Planned photo shoots from conception through completion with a focus on the fashion Concept.</li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h3 class="resume-title">Conferences</h3>
                        <div class="resume-item">
                            <h4>TAFMUN Ambassador</h4>
                            <h5>August 2018 - September 2018</h5>
                            <p>
                                <em>
                                    The African FutureTrust Model United Nations [TAFMUN], Nigeria.
                                </em>
                            </p>
                            <p>
                                I was a delegate in a 4-Day Conference for Senior Secondary School and University students.
                                I took a problem-solving approach to designated issues of my designated Country and this
                                conference is designed for the acquisition of skills that foster adaptability in tasks and
                                thought processes.
                            </p>
                            <p>
                                <ul>
                                    <li>Engaged in pro-active debating sessions which aided in my Diplomacy and Negotiation Skills.</li>
                                    <li>Research was a top skill needed and I developed a template in resolving a world problem.</li>
                                    <li>Organized and Lead a Project Workshop.</li>
                                    <li>Time Management, Team Building and Public Speaking was the essential skills I developed.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Resume Section -->

    </main><!-- End #main -->
{% endblock content %}
